* {box-sizing:border-box;}

body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: pink;
    margin: 0;
    padding: 12px;
}

.card {
    max-width: 600px;
    margin: auto;
    padding: 24px;
    background-color: seagreen;
    border: 4px solid white;
}

h1 {
    color: white;
    font-size: 20;
    margin: 4px;
}

p {
    color: white;
    margin: 4px;
}